h1 user' Details 

table 
     tr
        th ID 
        th NAME
        th COUNTRY 
        each user in users
            tr 
                td #{user.id}
                td #{user.name}
                td #{user.country}
